# File: .gitignore
# Author: William Coar and David Butler
# Description: Ignores compiled files when pushing to Github

.vscode
*.o
*.so
*.dll
*.exe
*.elf
/prep_coar/ball
/fab/debug.txt
/fab/input.txt
/fab/LICENSE.*
/fab/output.txt
vgcore*
